.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

header {
  width: 100%;
  height: 1000px;
  background-image: url("../imgs/headerbg.png");
  background-position: 150px 80px;
  background-repeat: no-repeat;
  background-color: #f9f8fb; }

nav {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0px;
  z-index: 1; }

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 165px;
  font-size: 1.75em;
  font-family: Pacifico, cursive;
  float: left; }
  .logo a {
    text-decoration: none;
    color: #000000;
    font-weight: 300; }
    .logo a:focus, .logo a:hover {
      color: #ff6033; }

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  display: none;
  position: relative;
  right: 165px;
  top: 50px; }
  .hamburger:focus, .hamburger:hover {
    color: #ff6033; }

.navbar {
  margin: 0;
  height: 100%;
  margin-right: 165px;
  display: flex;
  align-items: center;
  list-style: none;
  float: right; }
  .navbar li {
    margin-left: 38px; }
  .navbar a {
    color: #262626;
    text-decoration: none;
    font-size: 1.50em;
    font-family: Raleway, sans-serif;
    font-weight: 600; }
    .navbar a:focus, .navbar a:hover {
      border-top: 4px solid #ff6033; }

@media only screen and (max-width: 1217px) {
  .navbar {
    display: none; }
  header {
    background-position: -250px 80px; }
  .responsive {
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    line-height: 50px;
    position: relative;
    top: 120px;
    left: 85px;
    height: 330px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px; }
    .responsive li {
      margin: 0; }
  .hamburger {
    display: block; } }

@media only screen and (max-width: 661px) {
  header {
    background-position: -450px 80px; }
  .hamburger {
    right: 40px; }
  .logo {
    margin-left: 30px;
    position: absolute; }
  .responsive {
    left: 210px; } }

@media only screen and (max-width: 320px) {
  .responsive {
    left: 170px;
    top: 86px; } }

.header_content {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  .header_content h2 {
    font-size: 60px;
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    color: #262626;
    margin: 0; }
  .header_content p {
    width: 370px;
    color: #343434;
    font-size: 1.05em;
    font-family: Raleway, sans-serif; }
  .header_content button {
    width: 200px;
    height: 55px;
    border: none;
    background: #ff6033;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: 3px 3px 8px #9a9a9c;
    cursor: pointer;
    text-transform: uppercase; }
    .header_content button:focus, .header_content button:hover {
      background-color: #992200; }

@media only screen and (max-width: 449px) {
  .header_content p {
    width: 100%; } }

.scroll {
  margin-top: -100px;
  width: 0px;
  margin-left: auto;
  margin-right: auto; }
  .scroll img {
    transition: all 0.1s ease; }
  .scroll img:hover {
    margin-top: -10px;
    cursor: pointer; }

.about-us {
  width: 100%;
  height: 700px;
  background-color: #00bbbb;
  background-image: url("../imgs/about-us.png");
  background-repeat: no-repeat;
  background-position: center left 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about-us .about-us_container {
    width: 45%;
    align-self: flex-end; }
    .about-us .about-us_container h2 {
      margin: 0;
      font-size: 90px;
      color: #ffffff;
      font-family: Raleway, sans-serif;
      font-weight: bold; }
    .about-us .about-us_container p {
      width: 500px;
      font-size: 17px;
      font-family: Raleway, sans-serif;
      color: #ffffff;
      line-height: 27px; }

@media only screen and (max-width: 1440px) {
  .about-us {
    background-position: center left -15%; }
    .about-us .about-us_container {
      width: 650px; } }

@media only screen and (max-width: 1217px) {
  .about-us {
    background-position: center 500px; }
    .about-us .about-us_container {
      width: auto;
      margin-left: auto;
      margin-right: auto; }
      .about-us .about-us_container h2,
      .about-us .about-us_container p {
        text-align: center; } }

@media only screen and (max-width: 661px) {
  .about-us {
    height: 800px;
    background-position: center 600px; }
    .about-us .about-us_container h2 {
      width: 100%;
      font-size: 60px; }
    .about-us .about-us_container p {
      width: 100%; } }

.our-services {
  width: 100%;
  height: 790px;
  background-color: #70bfff;
  background-image: url("../imgs/our-services.png");
  background-repeat: no-repeat;
  background-position: center right 20%; }
  .our-services .our-services_container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .our-services .our-services_container h2 {
      margin: 0;
      font-size: 90px;
      color: #ffffff;
      font-family: Raleway, sans-serif;
      font-weight: bold;
      align-self: flex-end;
      position: absolute;
      right: 15%; }
    .our-services .our-services_container .container_services {
      align-self: flex-start;
      width: 400px; }
      .our-services .our-services_container .container_services .box {
        margin-bottom: 20px;
        box-shadow: 0px 23px 10px #44739a;
        height: 100px; }
      .our-services .our-services_container .container_services .text-box {
        margin-top: 20px;
        width: 75%;
        height: 100px;
        background-color: #ffffff;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .our-services .our-services_container .container_services .text-box h3 {
          width: 80%; }
      .our-services .our-services_container .container_services .img-box {
        margin-top: 20px;
        box-sizing: border-box;
        width: 25%;
        float: right;
        height: 100px;
        background-color: #ffffff;
        position: relative;
        border-left: 1px solid #9d9d9d; }
        .our-services .our-services_container .container_services .img-box img {
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }

@media only screen and (max-width: 1471px) {
  .our-services .our-services_container {
    width: 80%; } }

@media only screen and (max-width: 1284px) {
  .our-services {
    background-position: center; }
    .our-services .our-services_container {
      width: 100%;
      position: relative;
      right: 0;
      left: 0; }
      .our-services .our-services_container h2 {
        position: relative;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
      .our-services .our-services_container .container_services {
        margin: 0 auto; } }

@media only screen and (max-width: 661px) {
  .our-services .our-services_container {
    width: 100%; }
    .our-services .our-services_container h2 {
      width: 100%;
      font-size: 60px; }
    .our-services .our-services_container .container_services {
      width: 100%; } }

.gallery {
  width: 100%;
  height: 1536px;
  background-color: #ffe92f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .gallery button {
    margin-top: 50px;
    width: 200px;
    height: 55px;
    border: none;
    background: #5585a2;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: 3px 3px 8px #9a9a9c;
    cursor: pointer;
    text-transform: uppercase; }
    .gallery button:focus, .gallery button:hover {
      background-color: #308ec7; }
  .gallery h2 {
    margin: 0;
    font-size: 90px;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    text-align: center; }
  .gallery p {
    width: 582px;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 10px; }
  .gallery .gallery_container {
    width: 1170px;
    height: 982px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative; }
    .gallery .gallery_container .container1 {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      position: absolute;
      top: 3px; }
      .gallery .gallery_container .container1 img {
        margin-bottom: 20px; }
    .gallery .gallery_container .container2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 20px;
      flex-wrap: wrap; }

@media only screen and (max-width: 1192px) {
  .gallery {
    height: 100%; }
    .gallery h2 {
      padding-top: 100px; }
    .gallery .gallery_container {
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .gallery .gallery_container .container1 {
        align-self: auto;
        position: relative; }
      .gallery .gallery_container .container2 {
        justify-content: center;
        align-items: center; } }

@media only screen and (max-width: 800px) {
  .gallery img {
    width: 100%; }
  .gallery h2 {
    width: 100%; }
  .gallery p {
    width: 100%; } }

@media only screen and (max-width: 661px) {
  .gallery h2 {
    font-size: 60px; } }

.subscribe {
  background-image: url("../imgs/subscribe.png");
  background-position: 70%;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .subscribe .subscribe_container {
    width: 80%;
    margin: 0 auto; }
    .subscribe .subscribe_container h2 {
      margin: 0;
      font-size: 40px;
      color: #000000;
      font-family: Raleway, sans-serif;
      font-weight: bold; }
    .subscribe .subscribe_container p {
      width: 545px;
      font-family: Raleway, sans-serif;
      padding-bottom: 15px; }
    .subscribe .subscribe_container form input {
      padding-left: 14px;
      width: 556px;
      height: 55px;
      border: 1px solid #000000;
      font-size: 15px; }
    .subscribe .subscribe_container form button {
      margin-left: 23px;
      width: 200px;
      height: 55px;
      border: none;
      background: #96b92c;
      font-family: Raleway, sans-serif;
      color: #ffffff;
      letter-spacing: 2px;
      text-align: center;
      box-shadow: 3px 3px 8px #9a9a9c;
      cursor: pointer;
      text-transform: uppercase;
      height: 60px; }
      .subscribe .subscribe_container form button:focus, .subscribe .subscribe_container form button:hover {
        background-color: #a7db0a; }

@media only screen and (max-width: 1017px) {
  .subscribe .subscribe_container form button {
    margin: 0; } }

@media only screen and (max-width: 655px) {
  .subscribe {
    text-align: center; }
    .subscribe .subscribe_container {
      width: 100%; }
      .subscribe .subscribe_container p {
        width: 100%; }
      .subscribe .subscribe_container form input {
        box-sizing: border-box;
        padding-left: 2%;
        width: 98%; }
      .subscribe .subscribe_container form button {
        margin-top: 15px; } }
